nav {
    background-color: #9FA8DA;
}

body {
    background-image: url('Assets/circuit.png');
    /* This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ If you need more,
    that's where to get'em.*/
}

h1 {
    text-align: center;
    /* color:#ECEFF1; */
    color: white;

    /* background-color: #607D8B; */
    /* background-color: #C5CAE9; */
    background-color:#9FA8DA;
    padding: 20px;
    margin-bottom: 30px;
}

p.card-title {
    text-align: center;
    font-size: 1 em;
}

#card {
    background-color: #E8EAF6;
}
#card-body{
    background-color:#B0BEC5; 
    margin-bottom:10px;
}

#aboutMeContainer {
    margin-top: 30px;
    /* background-color: #E8EAF6; */
}

#aboutMeText {
    text-align:left;
}

#contactMeContainer {
    margin-top: 30px;
}

img {
    margin-bottom: 10px;
}
#image {
    float: left;
    margin-right: 3px;
    margin-bottom: 0;
}

.container {
    background-color: white;
}


.container-fluid {
    margin: auto;
}

.card {
    padding: 1.3rem;
}

