nav {
    background-color: #9FA8DA;
}

body {
    background-image: url('assets/circuit.png');
    /* This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ If you need more,
    that's where to get'em.*/
}

h1 {
    text-align: center;
    color: #EEEEEE;
    background-color: #607D8B;
    padding: 20px;
    margin-bottom: 30px;
}

p.card-title {
    text-align: center;
    font-size: 1 em;
}

#aboutMeContainer {
    margin-top: 30px;
}

#aboutMeText {
    text-align:left;
}

#contactMeContainer {
    margin-top: 30px;
}

img {
    margin-bottom: 10px;
}
#image {
    float: left;
    margin-right: 3px;
    margin-bottom: 1px;
}

.container {
    background-color: white;
}


.container-fluid {
    margin: auto;
}

.card {
    padding: 1.3rem;
}

